//import fonts
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&family=Secular+One&display=swap');

//file imports
@import "./button.scss";
@import "./helper.scss";
@import "./scrollbar.scss";
@import "./table.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:#fff;
    font-family: 'Karantina', cursive;
    letter-spacing: 0.9px !important;
}

:root{
    --color1:#2f6690;
    --color2:#d9dcd6;
    --color3:#3a7ca5;
    --color4:#81c3d7;
    --color5:#16425b;
    --highlight:#ffd700;
}

body{
    background-color: var(--color1);
}

html{
    position: relative;
    min-height: 100vh;

    @media only screen and (max-width: 700px){
        font-size: 14px;
    }

    @media only screen and (max-width: 400px){
        font-size: 13px;
    }
}