@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:#fff;
    font-family: 'Karantina', cursive;
}

:root{
    --color1:#9D07AD;
    --color2:#FAC62A;
    --color3:#E623FB;
    --color4:#0AFABD;
    --color5:#10AD85;
}

body{
    background-color: var(--color1);
}

h1,h2,h3{
    font-family: 'Karantina', cursive;
    text-align: center;
}

#g-login{
    display: flex;
    justify-content: center;
}

.title{
    font-size: 10rem;
    margin-bottom: 1rem;
}

.subtitle{
    font-size: 3rem;
    margin-bottom: 1rem;
}

a,a:visited,a:link{
    text-decoration: none;
}

.mb{
    margin-bottom: 3rem;
}

::selection{
    background-color: var(--color2);
}