.table{
    margin: 2rem 0 5rem;
    user-select: none;
  
    .top,.row{
      display: flex;
      justify-content: space-around;
      font-size: 2rem;
      width: 75%;
      margin: 0 auto;
      padding: .2rem;
  
      @media only screen and (max-width: 980px){
        width: 90%;
      }
  
      @media only screen and (max-width: 800px){
        width: 95%;
      }
      
      span{
        width: 25%;
        text-align: center;
        display: grid;
        place-items: center;
      }
  
      .owner-name{
        @media only screen and (max-width: 650px){
          display: none;
        }
      }
  
      .song-title{
        @media only screen and (max-width: 480px){
          font-size: 1.5rem;
        }
      }
    }
  
    .top{
      background-color: var(--color3);
    }
  
    .row{
      background-color: var(--color5);
      transition: all .1s;
  
      &:hover{
        background-color: var(--color4);
      }
  
      &:hover .box{
        fill: var(--color5) !important; 
      }
    }
  
    .play{
      cursor: pointer;
    }
    
    button{
        font-size: 2rem;
        padding: 0 2rem;
    }

    .delete-btn{
        background-color: red;
        outline: none;
        border: none;
        transition: all .2s;
        cursor: pointer;

        &:hover{
            background-color: darken(red,5);
        }

        &:active{
            background-color: darken(red,10);
        }
    }
  }